.DS_Store
.AppleDouble
.LSOverride

._*

*~
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.fseventsd
Icon?
.VolumeIcon.icns
.TemporaryItems

---


__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.pytest_cache/
.coverage
.tox/


*.c
*.h


*.log
*.out

.ipynb_checkpoints
profile_default/
ipython_config.py

.vscode/

pip-log.txt
pip-delete-this-file.txt
pip.log

.poetry/

Pipfile.lock

---


*.ckpt
*.pth
*.pt
model_*.h5
saved_model/
checkpoints/

data/
datasets/
results/
logs/
tensorboard/
runs/

*.safetensors
*.bin

.hydra/

wandb/

.dvc/
